#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

audio{
  margin-top: 12px
}

.dv-audio{
  display: flex;
  justify-content: end;
}

.row {
  display: flex;
  flex-flow: column;
  justify-content: space-between
}

.column {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 8px;
  grid-auto-rows: min-max(80px, auto);
  grid-auto-flow: dense;
}

.c-1 {
  background: #1a535c;
  color: #ddd;
}

.c-2 {
  background: #4ecdc4;
}

.c-3 {
  background: #bfd7ea;
}

.c-4 {
  background: #ff6b6b;
}

.c-5 {
  background: #ffe66d;
}

.card {
  min-height: 100px;
  background-size: cover;
  background-position: 50% 25%;
}

.span-1 {
  grid-column-end: span 1;
  grid-row-end: span 1;
  min-height: 100px;
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
  min-height: 200px;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 3;
  min-height: 400px;
}

.yarl__slide_description{
  hyphens: none;
}

.overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.splash-header {
  height : 50%;
  width: 300px;
}